<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mm.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C834BF3EF418F4D1E954C3EAD5ACA139FDFF680</string>
				<key>dateExpires</key>
				<string>2022/8/4</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8RZJ4X25HR.com.scrat.mm</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8RZJ4X25HR</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8RZJ4X25HR.com.scrat.mm</string>
				</array>
			</dict>
			<key>name</key>
			<string>mm.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>16eb7efa-754b-493e-9d0c-f98a792e1129</string>
				<key>name</key>
				<string>mm_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8RZJ4X25HR</string>
				<key>name</key>
				<string>jianjun qiu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
